<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>-I'm a Computer Engineering student who is fond of Computer Graphics, Web Development, and Mobile Applications Development. 
    -I'm very passionate about writing and coding. The ideology itself of just having a piece of paper and a pen right in front of you, and you get to write whatever you think of or believe in, paving the way for new ideas to be discovered. 
    -Currently seeking an internship opportunity in order to gain hands on experience to build upon and utilize my academic background, and communication skills.</p>
</div><!--//summary-->
</section><!--//section-->