<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineering Intern, Machine Learning</h3>
                            <div class="time">July 2017 - September 2017 <strong>[2 mons]</strong></div>
                        </div><!--//upper-row-->
                        <div class="company">Valeo</div>
                    </div><!--//meta-->
                    <div class="details">
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Development Intern</h3>
                            <div class="time">January 2016 - February 2016 <strong>[1 mon]</strong></div>
                        </div><!--//upper-row-->
                        <div class="company">Zlabs</div>
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergraduate Teaching Assistant</h3>
                            <div class="time">January 2015 - May 2016 <strong>[1 year and 4 mons]</strong></div>
                        </div><!--//upper-row-->
                        <div class="company">The American University in Cairo</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Explained the concepts of the course to students, assisted them with programming assignments, and conducted review sessions for the students before the course examination.</p>
                        <p>Assisted in the following courses
                        <ol>
                        <li>CSCE106: Fundamentals of Computer Science (Programming in C++)</li>
                        <li>CSCE210: Datastructures and Algorithms C++</li>
                        <li>CSCE330: Computer Architecture</li>
                        <li>CSCE495: Practical Machine Deep Learning</li>

                        </ol>
                        </p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->