<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Extra-Curricular Activities</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Peer Advising Leader</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">The American University in Cairo</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><ul>
                        <li>Welcomed the newly admitted students to the University and guided them.</li>
                        <li>Assisted them with their academic studies and courses.</li>
                        <li>Organized PAL activities and skill training sessions for freshmen.</li>
                        </ul></p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Project Manager</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">AIESEC AUC</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><ul>
                        <li>Supervised a team of 6 to match international interns with prespective employers.</li>
                        <li>Assisted in onboarding approximately 80 newly arrived interns to Egypt.</li>
                        <li>Researched for NGOs to partner with to provide new work opportunities for interns.</li>
                        <li>Created work plans for members and monitored their performance.</li></ul></p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Columnist</h3>
                            <div class="time">September 2013 - January 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">AUC Times Magazine</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><ul>
                        <li>Wrote and published 3 articles 
                        <ol>
                        <li>"Origins of Modern Eating Habits</li>
                        <li>Hip Hop Artists: Over Sexualized Videos</li>
                        <li>The Philosophy of Science</li>
                        </ol></li>
                        <li>Researched various topics for the magazine articles and proof-red other colleagues articles.
                        </ul></p>  
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title" style="font-size: 12px;">ACM-ECPC Participant</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title" style="font-size: 12px;">HULT AUC Participant</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title" style="font-size: 12px;">Team "Amr &amp; Shehab" Ranked 20th from 670 in Kaggle Cancer Screening Competition</h3>
                            <div class="time">2017</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title" style="font-size: 12px;">Member of Champions of AUC Embedded Systems Day</h3>
                            <div class="time">2017</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
            </section><!--//section-->